/* Nav Styles */

footer {
    background: #333333;
    box-sizing: border-box;
    color: #999999;
    font-family: sans-serif;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    p {
        float: right;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;

        &:hover {
            color: #999999;
        }

    }

    p,
    ul {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style-type: none;
        width: 60%;

        li {
            display: inline;
        }

    }

}
